.navbar .collapse {
    justify-content: center;
    align-content:space-between;
    background-color:rgb(133, 152, 201);
    padding: 25px 25px 25px 15px;
     
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .navbar .collapse {
        justify-content: flex-end;
    }
}

header {
    background-color: rgb(159, 240, 250);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.contenedor{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;
    text-align: center;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.item-01:hover{
transform: scale(1.2);
}

.item-02:hover{
    transform: scale(1.2);
}

.item-03:hover{
    transform: scale(1.2);
}

/*Estilo main*/
main {
    text-align: center;
    padding: 25px 25px 25px 15px;
     
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

    @media screen and (max-width: 992px) {
        .section .galeria {
          width: 50%;
        }
      }

/*Estilo footer*/
footer {
    background-color:rgb(133, 152, 201);
    padding: 48px 2px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 10px; 
    
    align-content: space-between;
    }


footer div:nth-child(1) {
    text-align:left;
    }

footer div:nth-child(2) {
    text-align: center;
    }
    
footer div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    }

footer ul li {
    display:inline-block;
    }

footer ul li a svg {
    margin: 100 5px;
    }

footer div:nth-child(3) {
    display: flex;
    align-items: center;    
    }